.container {
  width: 345px;
  height: 430px;
  display: flex;
  position: relative;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: ease 0.5s;
  overflow: hidden;
  .imgBx {
    min-width: 345px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 1s ease;
  }
  .contentBx {
    box-sizing: border-box;
    min-width: 345px;
    padding: 30px 20px;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #fff;
    }
    .title {
      margin: 0;
      color: #fff;
    }
    h4 {
      margin: 0;
      color: rgba(255, 255, 255, 0.669);
    }
    h3 {
      margin: 20px 0 5px;
      color: #fff;
      text-transform: uppercase;
    }
    .description {
      color: rgba(255, 255, 255, 0.669);
    }
    .stages {
      .items {
        display: flex;
        gap: 20px;
        width: 100%;
        span {
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          border: 1px solid #fff;
          text-align: center;
          color: #fff;
          cursor: pointer;
        }
      }
    }
    .price {
      color: #fff;
      font-size: 30px;
      position: absolute;
      bottom: 30px;
    }
    .button {
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      width: 140px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #fff;
      display: block;
      position: absolute;
      bottom: 30px;
      right: 20px;
    }
  }
  &:hover {
    width: 690px;
  }
}
