.container {
  transition: ease 0.3s all;
  width: 300px;
  padding-top: 220px;
  margin: 10px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 20px 10px rgba(25, 25, 25, 0.1);
  &:hover {
    transform: translateY(-10px);
    .img {
      height: 270px;
    }
  }
  .color-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: red;
  }
  .img {
    width: 100%;
    height: 220px;
    margin: 0 auto;
    background-image: url("../Card_1/Img/batman.webp");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: ease 0.3s all;
    position: absolute;
    bottom: calc(100% - 220px);
  }
  .card-info {
    text-align: center;
    padding: 0 20px 20px;
    &__name {
      font-size: 35px;
    }
    &__date{
      color: grey;
    }
    &__price{
      margin-top: 20px;
      text-align: left;
      font-size: 25px;
    }
  }
}
